@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto; 
  background-color: #fff;
  height: 2000px;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
  padding-left: 400px;
  gap: 50px;

}

.login {
  display: flex;
  gap: 40px;
  padding-left: 200px;
  align-items: center;
}

.btn {
  border: 1px solid black;
   border-radius: 30px;
   padding: 15px;
}

.header2 {
  width: 1200px;
  height: 700px;
  top: 80px;
  left: 36px;
  border-radius: 12px;
  background-color: rgba(2, 42, 30, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px; 
}

.header-txt {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  padding-top: 200px;
  padding-left: 50px;
}

.header-txt2 {
  width: 455px;
  height: 63px;;
  top: 373px;
  left: 96px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  padding-top: 15px;
  padding-left: 50px;
  
  
}

.logos-txt {
  width: 275px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}

.main {
  width: 1200px;
  height: 866px;
  top: 1012px;
  left: 36px;
  border-radius: 12px;
  background-color: rgba(242, 247, 247, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.main-txt  {
  width: 757px;
  height: 101px;
  top: 1110px;
  left: 222px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

  
  
}

.main-wrapper {
  display: flex;
}

.wrapper2 {
  width: 315px;
  height: 502px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 150px;
  margin-left: 60px;

  
}

.wrapper-txt { 
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 200px;
  
}

.wrapper-txt2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  width: 232px;
  height: 91px; 
  padding-left: 50px; 
  margin-top: 20px;
}

.wrapper-txt3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  width: 256px;
  height: 55px;
  text-align: center;
  padding-left: 40px; 
  margin-top: 20px;
  
  
}
